.lil-heads{
    background: #C62929;
    padding: 15px;
    text-align: center;
  }
  
  ion-title {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    --color: #ffffff;
  
  }
  
  .setting-header {
    border: 0px !important;
    background-image: none !important;
    border-bottom: none !important;
  }
  
  .logo-img {
    display: block;
    width: 170px;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
  }
  
  ion-list {
    margin: auto 30px;
  }
  
  ion-icon {
    color: #000000;
  }
  
  ion-label {
    padding-left: 15px !important;
    font-size: 21px !important; 
  }