<ion-header class="ion-no-border">
  <div class="lil-heads">
      <ion-buttons class="ion-button-class" [routerLink]="['/crud/settings']">
          <ion-icon name="chevron-back"></ion-icon>
            <ion-title>About</ion-title>
      </ion-buttons>      
  </div>
  <div class="about-header">
      <img class="logo-img" src="assets/img/VVO Logo.png">
  </div>
</ion-header>

<ion-content>
  <div class="content">
      <p>
          An automated eye check-up scheduling
          that will help users to easily set an
          appointment and to have an immediate
          scheduling response. This project
          provides a personal QRcode for every
          new client and managing the information
          of every client. And also allowing the
          users to check and update their own
          information.
      </p>
  </div>
  <div class="ver">
      <p>
          Value Vision ver 1.0
      </p>
  </div>
</ion-content>
