:host {
    ion-tab-bar {
        border: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        background-color: #c62929;

        ion-icon {
            font-size: 25px;
        }
    }

    ion-tab-button {
        max-width: 75px;
        min-height: 40px;
        background-color: #c62929;
        --color-selected: #ffff;
    }
}