<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home" color="secondary"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="intro">
      <ion-icon name="file-tray-stacked" color="secondary"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="calendar" color="secondary"></ion-icon>
      
    </ion-tab-button>
    
    <ion-tab-button tab="tracer">
      <ion-icon name="briefcase" color="secondary"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" color="secondary"></ion-icon>
      
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>